$cultured: #eeeeeeff;
$rhythm: #787a91ff;
$midnight-blue: #0f044cff;
$emerald: #23ce6bff;
$red-ryb: #ff331fff;

$white: #fff;

$bg: $cultured;
$primary: $midnight-blue;
$border: $rhythm;
$secondary: $rhythm;
$success: $emerald;
$danger: $red-ryb;
