@use '../vars/colors.scss';

@mixin button($color) {
    background: $color;
    color: colors.$white;
    padding: 8px 16px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    &:hover, &:focus {
        background: lighten($color, 7);
    }
}

.primary-btn {
    @include button(colors.$primary);
}


.secondary-btn {
    @include button(colors.$secondary);
}